<div>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Sobre Nosotros</h4>
              <p class="text-muted">¿Existe acaso alguien que no ame la cultura pop? Probablemente no, pero si podemos decirte que nadie la ama tanto como nosotros, por eso nos esforzamos en proveer para ti, un amante de esta cultura, los más raros y especiales personajes de colección</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">¡Contáctanos!</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Twitter</a></li>
                <li><a href="#" class="text-white">Facebook</a></li>
                <li><a href="#" class="text-white">Envíanos un Correo</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>-->
            <strong>Cabezonix: {{amount}}</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
  
    <main>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading mt-5">Cabezonix</h1>
          <p class="lead text-muted mb-3">Nos especializamos en proveer todos aquellos accesorios de la cultura popular que nos vuelven locos a todos. La ventaja de esta tienda en línea es que puedes ver todo lo que quieras y no tienes que darle a nadie excusas como "Nada más estoy viendo gracias" o "¿No lo tiene en azul?"</p>
          <p>
            <a (click)="sendShopInfo()" class="btn btn-primary my-2 mx-2 text-white">Terminar Compra</a>
            <a href="#" class="btn btn-secondary my-2">Chatea con nosotros</a>
          </p>
        </div>
      </section>
  
      <div class="album py-5 bg-light">
        <div class="container">
          
          <div class="row">
            <div *ngFor="let product of products" class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top mh-50" src="assets/"{{product.imagen}} alt="Card image cap">
                <div class="card-body">
                  <h3>{{product.nombre}}</h3>
                  <p class="card-text">{{product.descripcion}}</p>
                  <p class="card-text">Precio: {{product.precio}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">Agregar Al Carrito</button>
                    </div>
                    <!--<small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top mh-50" src="assets/forky.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Toy Story ya no necesita a Woody, nosotros tampoco, pero, ¡si que todos necesitamos a Forky!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(2)" type="button" class="btn btn-sm btn-outline-primary">Agregar Al Carrito</button>
                    </div>
                    <!--<small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top mh-50" src="assets/pennywise.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">La leyenda es real, no solo el Pennywise de la película se transforma en tu peor miedo, ¡este funko pop también!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(3)" type="button" class="btn btn-sm btn-outline-primary">Agregar Al Carrito</button>
                    </div>
                    <!--<small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/spidey.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Aunque nos quejemos de Iron Man dando todo a Spidey, todos tenemos que aceptar que nos emociona su nuevo traje de Iron Spider</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(4)" type="button" class="btn btn-sm btn-outline-primary">Agregar Al Carrito</button>
                    </div>
                    <!--<small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/deadpool.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Solo hay un personaje de la cultura pop que tiene más personalidad que Barbie, y ese es Deadpool</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(5)" type="button" class="btn btn-sm btn-outline-primary">Agregar Al Carrito</button>
                    </div>
                    <!--<small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/post.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">No, no es Shiah Labeouf, ni el tipo de transformers, a él ya nadie lo recuerda, es Post Malone</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(6)" type="button" class="btn btn-sm btn-outline-primary">Agregar Al Carrito</button>
                    </div>
                    <!--<small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/stich.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Ohana significa familia, y la familia nunca te abandona. Nuestro pequeño amigo azul, Stitch</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(7)" type="button" class="btn btn-sm btn-outline-primary">Agregar Al Carrito</button>
                    </div>
                    <!--<small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/neymar.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Este personaje no es un actor de película, pero sí que sabe actuar, Neymar Jr. para todos</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(8)" type="button" class="btn btn-sm btn-outline-primary">Agregar Al Carrito</button>
                    </div>
                    <!--<small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/batman.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Con Robert Patinson convirtiendose en el nuevo Batman tenía que salir algo así, una versión vampira de Batman</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(9)" type="button" class="btn btn-sm btn-outline-primary">Agregar Al Carrito</button>
                    </div>
                    <!--<small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </main>
  
    <footer class="text-muted">
      <div class="container">
        <p>Los Funko Pop son una marca registrada</p>
        <p>Cabezonix también es una marca registrada</p>
      </div>
    </footer>
  </div>